@using FOOD.LY.BE;
<div class="row">
	<!--Grid column: Content-->
	<div class="col-md-8">

		<div class="form-control" style="border: none;">
			<div class="row" style="padding: 25px;">
				@try
				{
					if (Session[SessionKeys.FULLNAME].ToString() != "" || Session[SessionKeys.FULLNAME].ToString() != null)
					{
						<div class="col-md-6">
							<a href="@Url.Action("ADDRECEIPE","AddRecipe")">
								<i class="fas fa-edit"></i> Start a Receipe
							</a>
						</div>
						<div class="col-md-6" style="text-align: right;">
							<a href="@Url.Action("ADDRECEIPE","AddRecipe")">
								#Hungry | #FoodisLife | #Food.LY
							</a>
						</div>
					}
					else
					{

						<div class="col-md-6">
							<a data-toggle="modal" data-target="#modalLRForm">
								<i class="fas fa-edit"></i> Start a Receipe
							</a>
						</div>
						<div class="col-md-6" style="text-align: right;">
							<a data-toggle="modal" data-target="#modalLRForm">
								#Hungry | #FoodisLife | #Food.LY
							</a>
						</div>
					}
				}
				catch (Exception)
				{
					<div class="col-md-6">
						<a data-toggle="modal" data-target="#modalLRForm">
							<i class="fas fa-edit"></i> Start a Receipe
						</a>
					</div>
					<div class="col-md-6" style="text-align: right;">
						<a data-toggle="modal" data-target="#modalLRForm">
							#Hungry | #FoodisLife | #Food.LY
						</a>
					</div>
				}

			</div>
			@*<hr />
				<div style="background-color:#f3f6f8">
					<div class="col-md-12">
						<a href="#">Write a Receipe</a> on Food.LY
					</div>
				</div>*@
		</div>
		<hr class="my-5">
		<div class="clearfix d-none d-sm-block">
			<div class="card card-cascade narrower card-ecommerce">
				<div style="margin-top: -1.25rem;margin-right: 4%;margin-left: 4%;">
					<div class="fotorama" data-width="1000" data-ratio="700/467" data-max-width="100%" style="border-radius:25px;">
						<video class="video-fluid" autoplay loop>
							<source src="~/Assets/intro.mp4" type="video/mp4" />
						</video>
						<img src="~/Assets/img/banner/food-banner.jpg" class="card-img-top" alt="">
						<img src="~/Assets/img/banner/food-banner.jpg" class="card-img-top" alt="">
						<img src="~/Assets/img/banner/food-banner.jpg" class="card-img-top" alt="">
					</div>
					<a>
						<div class="mask rgba-white-slight waves-effect waves-light"></div>
					</a>
				</div>
				<hr />
				<div class="card-body card-body-cascade">
					<a href="" class="text-muted">
						<h5 style="color:green">Veg</h5>
					</a>
					<h4 class="card-title">
						<strong>
							<a href="">RECEIPE TITLE</a>
						</strong>
					</h4>
					<hr />

					<p class="card-text">
						After 200 Words Break OR Just Show 200 Words
					</p>
					<div class="text-center">
						<a href="Link of Details Page">Read More..</a>
					</div>
					<br />
					@*<div class="facebook-reaction">
							<!-- container div for reaction system -->
							<span class="like-btn">
								<!-- Default like button -->
								<span class="fa like-btn-emo fa-thumbs-o-up"></span> <!-- Default like button emotion-->
								<span class="like-btn-text">Like</span> <!-- Default like button text,(Like, wow, sad..) default:Like  -->
								<ul class="reactions-box">
									<!-- Reaction buttons container-->
									<li class="reaction reaction-like" data-reaction="Like"></li>
									<li class="reaction reaction-love" data-reaction="Love"></li>
									<li class="reaction reaction-haha" data-reaction="HaHa"></li>
									<li class="reaction reaction-wow" data-reaction="Wow"></li>
									<li class="reaction reaction-sad" data-reaction="Sad"></li>
									<li class="reaction reaction-angry" data-reaction="Angry"></li>
								</ul>
							</span>
							<div class="like-stat">
								<span class="like-emo">
									<span class="like-btn-like"></span>
								</span> <span class="like-details">Dhaval Rana and 1k others</span>
							</div>
						</div>*@
					<ul class="form-control text-center">
						<li class="list-inline-item float-left"><a href="#" class="black-text"><i class="fas fa-heart"></i> Like</a></li>
						<li class="list-inline-item pr-2 float-center"><a href="#" class="black-text"><i class="fas fa-comments pr-1"></i> 12 Comments</a></li>
						<li class="list-inline-item pr-2 float-right"><a href="#" class="black-text"><i class="fas fa-share-square"></i> Share</a></li>
					</ul>
				</div>

				<div class="card-footer text-muted text-center">
					<span class="float-left">Posted By <a href="Profile Link of Person">Pandurang Lad</a> - 16-May-2020 (2 days ago)</span>
					<span class="float-right">105 Views</span>
				</div>
			</div>
		</div>
		<hr class="my-5">
		<div class="clearfix d-none d-sm-block">
			<div class="card card-cascade narrower card-ecommerce">
				<div style="margin-top: -1.25rem;margin-right: 4%;margin-left: 4%;">
					<div class="fotorama" data-width="1000" data-ratio="700/467" data-max-width="100%" style="border-radius:25px;">
						<img src="~/Assets/img/banner/food-banner.jpg" class="card-img-top" alt="">
						<img src="~/Assets/img/banner/food-banner.jpg" class="card-img-top" alt="">
					</div>
					<a>
						<div class="mask rgba-white-slight waves-effect waves-light"></div>
					</a>
				</div>
				<hr />
				<div class="card-body card-body-cascade">
					<a href="" class="text-muted">
						<h5 style="color:green">Veg</h5>
					</a>
					<h4 class="card-title">
						<strong>
							<a href="">RECEIPE TITLE</a>
						</strong>
					</h4>
					<hr />

					<p class="card-text">
						After 200 Words Break OR Just Show 200 Words
					</p>
					<hr />
					<div class="text-center">
						<a href="Link of Details Page">More..</a>
					</div>
				</div>
				<div class="card-footer">
					<span class="float-right">
						<a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
							<i class="fas fa-heart"></i>
						</a>
					</span>
					<span class="float-left">105 Views</span>
				</div>
				<div class="card-footer text-muted text-center">
					2 days ago
				</div>
			</div>
		</div>
		<hr class="my-5">
		<div class="clearfix d-none d-sm-block">
			<div class="card card-cascade narrower card-ecommerce">
				<div style="margin-top: -1.25rem;margin-right: 4%;margin-left: 4%;">
					<div class="fotorama" data-width="1000" data-ratio="700/467" data-max-width="100%" style="border-radius:25px;">
						<video class="video-fluid" autoplay loop>
							<source src="~/Assets/intro.mp4" type="video/mp4" />
						</video>
					</div>
					<a>
						<div class="mask rgba-white-slight waves-effect waves-light"></div>
					</a>
				</div>
				<hr />
				<div class="card-body card-body-cascade">
					<a href="" class="text-muted">
						<h5 style="color:green">Veg</h5>
					</a>
					<h4 class="card-title">
						<strong>
							<a href="">RECEIPE TITLE</a>
						</strong>
					</h4>
					<hr />

					<p class="card-text">
						After 200 Words Break OR Just Show 200 Words
					</p>
					<hr />
					<div class="text-center">
						<a href="Link of Details Page">More..</a>
					</div>
				</div>
				<div class="card-footer">
					<span class="float-right">
						<a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
							<i class="fas fa-heart"></i>
						</a>
					</span>
					<span class="float-left">105 Views</span>
				</div>
				<div class="card-footer text-muted text-center">
					2 days ago
				</div>
			</div>
		</div>
		<hr class="my-5">
		<div class="clearfix d-none d-sm-block">
			<div class="card card-cascade narrower card-ecommerce">
				<div style="margin-top: -1.25rem;margin-right: 4%;margin-left: 4%;">
					<div class="fotorama" data-width="1000" data-ratio="700/467" data-max-width="100%" style="border-radius:25px;">
						<img src="~/Assets/img/banner/food-banner.jpg" class="card-img-top" alt="">
					</div>
					<a>
						<div class="mask rgba-white-slight waves-effect waves-light"></div>
					</a>
				</div>
				<hr />
				<div class="card-body card-body-cascade">
					<a href="" class="text-muted">
						<h5 style="color:green">Veg</h5>
					</a>
					<h4 class="card-title">
						<strong>
							<a href="">RECEIPE TITLE</a>
						</strong>
					</h4>
					<hr />

					<p class="card-text">
						After 200 Words Break OR Just Show 200 Words
					</p>
					<hr />
					<div class="text-center">
						<a href="Link of Details Page">More..</a>
					</div>
				</div>
				<div class="card-footer">
					<span class="float-right">
						<a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
							<i class="fas fa-heart"></i>
						</a>
					</span>
					<span class="float-left">105 Views</span>
				</div>
				<div class="card-footer text-muted text-center">
					2 days ago
				</div>
			</div>
		</div>
		<hr class="my-5">
	</div>
	<!--Grid column: Content-->
	<!--Grid column: Scrollspy-->
	<div class="col-md-4">
		<!-- Sticky content -->
		<div class="sticky" style="position: absolute; height: 585px;">
			<h4><i class="fas fa-utensils" style="color:green"></i> Trending Receipes</h4>
			<hr />
			fjghdf<br />
			fjghdf<br />
			<br />
			<br />
			<h4><i class="fas fa-grin-hearts" style="color:red"></i> Most Love</h4>
			<hr />
			fjghdf<br />
			fjghdf<br />
			<br />
			<br />
			<h4><i class="fas fa-circle" style="color:green"></i> Veg Categroy</h4>
			<hr />
			fjghdf<br />
			fjghdf<br />
			<br />
			<br />
			<h4><i class="fas fa-circle" style="color:red"></i> Non-Veg Categroy</h4>
			<hr />
			fjghdf<br />
			fjghdf<br />
			<br />
			<br />
		</div>
		<div class="sticky-placeholder" style="width: 162.516px; height: 585px;"></div>
		<div class="sticky-placeholder" style="width: 162.516px; height: 585px;"></div>
	</div>
	<!--Grid column: Scrollspy-->
</div>

